*{
    padding: 0;
    margin: 0;
    font-family: comfortaa;
}

nav ul li{
    margin-left: 20px;
    list-style-type:disc;
    line-height: 40px;
}

nav ul li:first-child{
    list-style-type:none;
    font-size: 20px;
}

#media {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
}

#media nav{
    flex-basis: 200px;
    background-color: burlywood;
}

#media #mediaDisplay {
    flex-basis: 600px;
    background-color: cadetblue;
}

video {
    width: 180px;
}

audio {
    width: 280px;
}

@font-face {
    font-family: comfortaa;
    src: url(../../fonts/Comfortaa/Comfortaa-Bold.ttf);
}

@media (max-width:800px) {
    #media nav{
        flex-basis: 100%;
        height: 50px;
    }

    #media nav ul li.menuItem {
        display: none;
    }

    #media nav ul:hover li {
        display: inline-block;
    }

    #media #mediaDisplay {
        height: 500px;
        flex-basis: 100%;
    }
}