@font-face {
    font-family:'Caveat-Regular';
    src: url(fonts/Caveat/Caveat-Regular.ttf);
}

@font-face {
    font-family: "Exo2.0-Regular";
    src: url(fonts/Exo\ 2/Exo2.0-Regular.otf);
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url(fonts/Comfortaa/Comfortaa-Regular.ttf);
}

h1 {
    font-family:'Caveat-Regular';
    font-weight: bold;
    text-align: center;
    margin-bottom: -20px;
    text-transform: uppercase;
    font-size: 45px;
    text-shadow: 3px 3px 30px blue;
}

h2 {
    font-family: "Exo2.0-Regular";
    margin-bottom: 1.2em;
    margin-top: 0.2rem;
    text-indent: 25px;
    text-align: left;
}

 p {
     font-family: "Comfortaa-Regular";
     text-indent: 25px;
     text-align: justify;
     margin-top: 0px;
     margin-bottom: 0px ;
     line-height: 200%;
     font-size: 20px    ;
 }

 p::first-letter {
     font-weight: bold;
     font-size: 45px;
     color: white;
     background-color: hsla(275, 100%, 10%, 1);
 }

 ol li {
     list-style-type: none;
     counter-increment: list;
     font-family: "Comfortaa-Regular";
     font-size: 20px;
 }
 
 ol li::before {
     color:blue;
     content: counter(list,upper-roman);

 }

 #CamusBooks {
    font-family: "Exo2.0-Regular";
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
 }