body{
    background-color: rgba(245, 174, 245, 0.479);
    color: rgb(247, 99, 99);
    text-shadow: 0 0 3px rgb(196, 26, 26);
}
h2{
    margin-left: 60px;
    font-size: 40px;
}
textPath {
    font-size: 27px;
}

#svg1 {
    margin: 60px;
    border: 2px solid rgba(0, 0, 0, 0.301);
    background-color: rgb(236, 186, 252);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.589);
    padding: 20px;
}
#svg2{
    margin: 60px;
    border: 2px solid rgba(0, 0, 0, 0.301);
    background-color: rgb(236, 186, 252);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.589);
    padding: 20px;
}
#svg3{
    margin: 60px;
    border: 2px solid rgba(0, 0, 0, 0.301);
    background-color: rgb(236, 186, 252);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.589);
    padding: 20px;
}
#svg4{
    margin: 60px 60px 60px 60px;
    border: 2px solid rgba(0, 0, 0, 0.301);
    background-color: rgb(236, 186, 252);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.589);
    padding: 20px;
}
