img {
    width: 300px;
    height: 300px;
}

#firstPic:hover {
    transform: scale(0.5);
}

#secondPic:hover {
    transform: rotate(90deg);
}

#thirdPic:hover {
    transform: translate(50px);
}

#fourthPic:hover {
    transform: skew(-20deg);
}

h1 {
    animation: pulse 2s linear  infinite alternate-reverse;
}


@keyframes pulse {
    0% {
        color: rgba(0, 0, 0, 1);
    }
    100% {
        color: rgba(0, 0, 0, 0.2);
    }
}

nav {
    float: right;
    width: 300px;
    height: fit-content;
    background-image: linear-gradient(rgb(4, 150, 89),rgb(0,255,157));
    margin-right: -8px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgb(0, 255, 157) 5px 5px 5px;
    line-height: 40px;
}

ul li {
    list-style:none;
    background-color: lightgreen;
    margin: 0px;
    margin-left: -30px;
    margin-right: -8px;
    font-size: 20px;
    padding: 5px;
}

ul li:hover {
    box-shadow: black 2px 2px 2px;
    transform:translate(-2px,-2px)
}

ul li:first-child {
    border-radius: 20px 0px 0px 0px;
}

ul li:last-child {
    border-radius: 0px 0px 0px 20px;
}

#firstLink:link {
    color: red;
    text-decoration: none;
}

#secondLink:visited {
    color: #8B0000 ;
}

#thirdLink:hover {
    color: green;
}

#fourthLink:active {
    color: rgb(184, 134, 11);
}